$primary: #fdf5df;
$secondary: #5ebec4;
$accent: #f92c85;
$success: #009944;
$error: #cf000f;
$warning: #f0541e;
$info: #63c0df;
$black: black;
$white: white;

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-radius: 20px;
$base-border-thickness: 1px;

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1)